html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}


/* Globales */

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/*utilidades*/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenido-centrado {
    max-width: 80rem;
}


/*BOTONES*/

.btn {
    font-size: 1.8rem;
    width: max-content;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: .5rem;
    justify-content: space-between;
}

.btn:hover {
    background-color: #b3b3b3;
}


/* Header*/

.titulo {
    margin: .5rem;
}

.titulo h1 {
    margin: 0;
}

.titulo a {
    margin: 0;
    padding-left: 5rem;
    text-decoration: none;
}

.site-header {
    background-color: #000000;
    padding: auto;
}

.site-header.inicio {
    background-position: center center;
    background-size: cover;
    height: auto;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media(min-width: 768px) {
    .contenido-header {
        margin-left: 3rem;
        text-align: start;
    }
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media(min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* Navegacion */

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}

@media(min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin-right: 0;
    }
}

.navegacion a:hover {
    color: #b3b3b3;
}


/* Formulario */

.input {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}


/* Login */

.titulo-login {
    text-align: center;
}

.login {
    width: 50rem;
    padding-top: 15rem;
    justify-content: center;
}