<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="static/css/normalize.css" th:href="@{/css/normalize.css}">
    <title>Login</title>
</head>

<body>
    <h1 class="titulo-login">Bienvenidos a la tienda generica</h1>
    <main class="contenedor seccion contenido-centrado login">
        <form action="" class="formulario">
            <fieldset>
                <label for="usuario">Usuario</label>
                <input class="input " type="text" name="usuario" id="">
                <label for="password">Contraseña</label>
                <input class="input" type="password" name="password" id="">
            </fieldset>
            <div class="botones ">
                <input type="button" value="Aceptar" class="btn">
                <input type="button" value="Cancelar" class="btn">
            </div>

        </form>

    </main>
</body>

</html>