<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="static/css/normalize.css" th:href="@{/css/normalize.css}">
    <title>Tienda Generica</title>
</head>

<body>
    <div class="titulo">
        <h1><a href="#">Tienda Genérica</a> </h1>
    </div>

    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">
                <nav id="" class="navegacion">
                    <a href="/usuarios">Usuarios</a>
                    <a href="#">Clientes</a>
                    <a href="#">Proveedores</a>
                    <a href="#">Productos</a>
                    <a href="#">Ventas</a>
                    <a href="#">Reportes</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="contenedor seccion contenido-centrado">

    </main>
</body>

</html>