<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="static/css/normalize.css" th:href="@{/css/normalize.css}">
    <title>Tienda Generica</title>
</head>

<body>
    <div class="titulo">
        <h1><a href="#">Tienda Genérica</a> </h1>
    </div>

    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">
                <nav id="" class="navegacion">
                    <a href="/menu/usuarios">Usuarios</a>
                    <a href="#">Clientes</a>
                    <a href="#">Proveedores</a>
                    <a href="#">Productos</a>
                    <a href="#">Ventas</a>
                    <a href="#">Reportes</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="contenedor seccion contenido-centrado">
        <form method="POST" class="formulario">
            <fieldset>
                <label for="cedula_usuario">Cedula</label>
                <input class="input" type="text" name="cedula_usuario" id="" placeholder="Cedula">
                <label for="nombre_usuario">Nombre Completo</label>
                <input class="input" type="text" name="nombre_usuario" id="" placeholder="Nombre">
                <label for="email_usuario">Correo Electronico</label>
                <input class="input" type="email" name="email_usuario" id="" placeholder="Email">
                <label for="usuario">Usuario</label>
                <input class="input" type="text" name="usuario" id="" placeholder="Usuario">
                <label for="password">Contraseña</label>
                <input class="input" type="password" name="password" id="" placeholder="Contraseña">
            </fieldset>
            <div class="botones">
                <input type="button" value="Buscar" class="btn">
                <input type="submit" action="create" value="Crear" class="btn">
                <input type="button" value="Actualizar" class="btn">
                <input type="button" value="Eliminar" class="btn">
            </div>

        </form>

    </main>
</body>

</html>